:root {
    --text: #210605;
    --background: #fef8f7;
    --primary: #df3622;
    --secondary: #8eefec;
    --accent: #526ae6;

    --text10: rgba(33, 6, 5, 0.1);
}

*{
  font-family: Inter,Helvetica Neue,Helvetica,Arial,sans-serif;
  background-color: var(--background); 
}

body{
    margin:0;
}

header{
    color: var(--text);    
    font-size: 18px;
    font-weight: 700;
    padding: 12px 32px;
    border-width: 1px;
    border-color: var(--text);
    box-shadow:  0px -2px 4px  black;
}

.canvas-container{

    
}

.box{

    flex: 0 0 32px;
    height: 32px;
    width: 32px;
    border: solid;
    border-width: 1px;
    border-color: var(--text10);
    background-color: var(primary);
}

.line{
    display:flex;
    flex: 1 1 auto;
}







